[submodule "vendors/OCHRE"]
	path = vendors/OCHRE
	url = https://github.com/AZX-PBC-OSS/OCHRE.git
	branch = perf/tier1-numba-optimizations
[submodule "vendors/EnergyPlus"]
	path = vendors/EnergyPlus
	url = git@github.com:NatLabRockies/EnergyPlus.git
